<p id="notice"><%= notice %></p>

<h1>Feedings</h1>

<table>
  <thead>
    <tr>
      <th>Cant</th>
      <th>Time</th>
      <th>Baby</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feedings.each do |feeding| %>
      <tr>
        <td><%= feeding.cant %></td>
        <td><%= feeding.time %></td>
        <td><%= feeding.baby.name %></td>
        <td><%= link_to 'Show', feeding %></td>
        <td><%= link_to 'Edit', edit_feeding_path(feeding) %></td>
        <td><%= link_to 'Destroy', feeding, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feeding', new_feeding_path %>
