<p id="notice"><%= notice %></p>

<h1>Babies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>feedings</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @babies.each do |baby| %>
      <tr>
        <td><%= baby.name %></td>
        <td><%= link_to 'Show', baby %></td>
        <td><%= baby.feedings.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New feeding', new_feeding_path %>
